<app-hello-world></app-hello-world>

<app-child>
  <div class="section">
    <h2 [appHighlight]="'#fabada'">Angular routing</h2>
    <nav>
      <ul>
        <li><a routerLink="/first-page/1">First page</a></li>
        <li><a routerLink="/second-page">Second page</a></li>
      </ul>
    </nav>
  </div>
</app-child>
<!-- This component informs Angular to update the application view with the
  component for the selected route -->
<router-outlet></router-outlet>
<app-child>
  <!-- <h3 question>Is this ng content cool?</h3>
  <p answer>Yes, it is!</p>
  <h2>Hello from root</h2> -->
  <div class="section">
    <h2 [appHighlight]="'#fabada'">Toggle event</h2>
    <button (click)="toggleText($event)">Toggle text</button>
    <p>{{ showText }}</p>
  </div>
  <div class="section">
    <h2 [appHighlight]="'#fabada'">Pipes</h2>
    <h3>{{ "Aki" | greetingsPipe }}</h3>
    <p>{{ todaysDate | date: "EEEE MMMM d y" | uppercase }}</p>
  </div>
  <!-- Pipes are only executed when pure changes are detected
    (a change of a primitive input value such as string, number,
    boolean or symbol, or a change in an object reference, such as date,
    array, function or object) -->

  <div class="section">
    <app-item-details (deleteRequest)="deleteItem($event)"></app-item-details>
  </div>

  <div class="section">
    <h2 [appHighlight]="'yellow'">App sizer</h2>
    <app-sizer [(size)]="fontSizepx"></app-sizer>
    <div [style.font-size.px]="fontSizepx">
      Resizable text from app component
    </div>
  </div>
  <div class="section">
    <h2 [appHighlight]="'purple'">Template variables</h2>
    <input type="text" placeholder="Phone" #phone />
    <button (click)="callPhone(phone.value)">Call</button>
    <br />
    <input #ref1 type="text" [(ngModel)]="firstExample" />
    <span *ngIf="true">{{ ref1.value }}</span>
  </div>
</app-child>

<!-- Prop binding. This one is recomended, but when you don't have a property to bind,
you can use attribute binding (syntax: [attr.attribute-you-are-targeting]="expression") -->
<img class="bg-binding-image" [src]="itemImageUrl" />

<!-- Interpolation -->
<img class="bg-interpolation-image" src="{{ itemImageUrl }}" />
